
<a href="{{ url_for('task', id=task.id) }}">
<table class = "table table-hover justify">
<tr>
    <td width="100px">
	
		<h3>{{task.completion_percent()}}%</h3>
		<p>complete</p>
	</td>
    	<td>
		<h3>{{ task.name }}</h3>
		Posted {{ moment(task.timestamp).fromNow() }}.		
	</td>
	<td>	
		<br>
		<div class="progress md-progress" style="width:150px">
		<div class="progress-bar grey" role="progressbar" style="width: {{ task.completion_percent() }}%"></div>
		</div>
		<br>
	</td>
	<td>
	<br>
	<a href="{{ url_for('delete_task', id = task.id) }}">
	Delete</a>
	</td>
</tr>
</table>
</a>
