

<div class="card" style="height:18em; padding:1em; width:32.6%;border-style:none; margin:0.1em; background-color:#fff;">
  <a href="{{ url_for('todo.task', id=task.id) }}"><p><b>{{ task.name }}</b></p> </a>
  Posted {{ moment(task.timestamp).fromNow() }}.
  <br>
  <br>
	<h1 style="margin-top:0.1em;">{{task.completion_percent()}}%</h1>
	<p>complete</p>
	<div class="progress md-progress" style="width:150px">
	   <div class="progress-bar grey" role="progressbar" style="width: {{ task.completion_percent() }}%"></div>
	</div>
  <br>
  <a href="{{ url_for('todo.delete_task', id = task.id) }}">
    Delete</a>
</div>
