{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
	<div class="section">
	<a href="{{url_for('todo.tasks')}}">Back</a>
	<h1>{{ task.name }}</h1>
	<h4>{{ task.completion_percent() }} percent complete.</h4>
	<p>Posted a day ago.</p>
	<a href="">Edit Task</a>
	<div class="row">
			{{ wtf.quick_form(form) }}
    	</div>
	<hr>
	{% if task.n_subtasks>0 %}
		<h3>Subtasks</h3>
	    <form method="POST" action="">
		    {% for subtask in c_subtasks %}

		    <!-- Default unchecked -->
			<div class="custom-control custom-checkbox">
			    <input type="checkbox" class="custom-control-input" name="status_checkbox" value="{{ subtask.id }}" id="{{ subtask.id }}" checked>
			    <label class="custom-control-label" for="{{ subtask.id }}">{{ subtask.name }}</label>
			</div>
		    {% endfor %}
		    {% for subtask in uc_subtasks %}
		    	<div class="custom-control custom-checkbox">
			    <input type="checkbox" class="custom-control-input" name="status_checkbox" value={{ subtask.id }} id="{{ subtask.id }}" >
			    <label class="custom-control-label" for="{{ subtask.id }}" >{{ subtask.name }}</label>
			</div>
		    {% endfor %}
		<br>
		<input type="submit" name="submit" value="Check subtasks">
	     </form>
	{% endif %}
	</div>
{% endblock %}
