{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="section" >
	<p>Today: {{ moment(today).format('LL') }}, {{ weekday }}</p>
	<h1>Tasks this week...</h1>
	<p>{{ days_left }} days left</p>

	{% if form %}
		<div class="subsection">
		    {{ wtf.quick_form(form) }}
		</div>
	{% endif %}
</div>
<div class="section">
	<h2>Daily tasks</h2>
</div>
		<div class = "grid-container" style="padding:0;">
		{% for task in daily_tasks %}
			{% include 'todo/_daily_task_display.html' %}
		{% endfor %}
		</div>

	<div class="section">
	<h2>Weekly tasks</h2>
	</div>
		<div class = "grid-container" style="padding:0;">
		{% for task in weekly_tasks %}
			{% include 'todo/_task_display.html' %}
		{% endfor %}
	</div>

	<div class="section">
	<h2>Challenge tasks</h2>
	</div>
		<div class = "grid-container" style="padding:0;">
		{% for task in challenge_tasks %}
			{% include 'todo/_challenge_task_display.html' %}
		{% endfor %}
	</div>

{% endblock %}
