
<div class="card" style="border-style:none;padding:0.1em;">

    <div class="inline" style="padding-bottom:0.5em; padding-top:0;"><a style="margin:0;" href=""><input type='checkbox' class='checkbox'></input></a>
  	<a href="">
  	 <p style="margin:0;"><b>100DaysofCode</b></p>
  	</a>
    <p style="margin:0;">30/100</p></div>

    <div class="progress md-progress" style="width:100%; height:0.2em;">
       <div class="progress-bar grey" role="progressbar" style="width: 30%; "></div>
    </div>
</div>
