{% extends 'base.html' %}

{% block app_content %}
<div class="section" style="height:100%;">
<h1>Challenges</h1>
<p>All current challenges index.</p>
<a href="{{ url_for('pages.add_page') }}">Add challenge</a>
<hr>
<br>
	<div class="col">
		{% for challenge in challenges %}
			{% include 'pages/_challenge_display.html' %}
		{% endfor %}
	</div>
	    {% if prev_url %}
	    	<a href="{{ prev_url }}">Newer challenges</a>
	    {% endif %}
	    {% if next_url %}
	    	<a href="{{ next_url }}">Older challenges</a>
	    {% endif %}
</div>
{% endblock %}
