{% extends 'base.html' %}

{% block app_content %}
<h1>Challenges</h1>
<p>All current challenges index.</p>
<a href="{{ url_for('pages.add_page') }}">Add challenge</a>
		{% if g.search_form %}
                <form class="navbar-form navbar-left" method="get"
                        action="{{ url_for('main.search') }}">
                    <div class="form-group">
                        {{ g.search_form.q(size=20, class='form-control',
                            placeholder=g.search_form.q.label.text) }}
                    </div>
                </form>
                {% endif %}
<hr>
<br>
	<div class="col">
		{% for challenge in challenges %}
			{% include 'pages/_challenge_display.html' %}
		{% endfor %}
	</div>
	    {% if prev_url %}
	    	<a href="{{ prev_url }}">Newer challenges</a>
	    {% endif %}
	    {% if next_url %}
	    	<a href="{{ next_url }}">Older challenges</a>
	    {% endif %}

{% endblock %}


