body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  background-color: #f1f1f1;

}

.header {
  background-color: #f1f1f1;
  padding: 1em;
  text-align: center;
  height:3em;
}

nav {
  background-color: #fff;
}

.column {
  float: left;
  margin: 0.1em;
  height: 48em;
  overflow: auto;
}

/* Left and right column */
.column.left {
  width: 25%;
  background-color: #fff;
  overflow: hidden;
}
.column.right {
  width: 25%;
  overflow: hidden;
}

.column.middle {
  width: 47%;
  overflow: -moz-scrollbars-none;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  background-color: #f1f1f1;
  padding: 2em;
  text-align: center;
  height: 0.5em;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column.right, .column.middle, .column.left {
    width: 100%;
    height:100%;
  }
  ._side_navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }

}

.section{
  margin-top: 0.2em;
  margin-bottom:0.2em;
  padding: 1.6em;
  background-color: #fff;
  border-radius: 0.1em;

}

.subsection{
  margin-bottom: 2em;
}

.checkbox {
  padding: 1px 1px 1px 1px;
}

h1 {
  font-weight: bold;
  font-size: 2.5em;
  margin-top: 0.8em;
  letter-spacing: -1px;
  color: #000;
}

h2 {
  font-size: 2.5em;
  margin-top: 0.5em;
  letter-spacing: -1px;
  color: grey;
}

h3 {
  font-size: 2em;
  font-weight: 100;
  margin-top: 0.3em;
  margin-bottom: 0.7em;
  letter-spacing: -1px;
  color: #999;
}

h4 {
  font-size: 1.1em;
  font-weight: bold ;
  margin-top: 1em;
  letter-spacing: -1px;
  color: #000;
}

sub-header{
  margin:0.1 em;
  font-size: 1.1em;
  color: #a9a9a9;
}
p{
  font-size: 1.1em;
}
.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 1em;
  padding-bottom: 1em;
}

.card {
  transition: 0.3s;
  border-right: solid;
  border-color: #00e6e6;
  padding: 1em;
}

.card:hover {
  box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.08);
}

.cards_content {
  padding: 1em 1em;
}

ul{
  list-style-type: none;
  margin: 0.5em;
  padding: 1em;
}
li{

  border-bottom: solid;
  border-color: #f5f5f5;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.inline{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
table{
  margin: 0.3em;
  padding: 0.3em;
}

td{

    margin: 0.3em;
    padding: 0.3em;
}

input[type="submit"], button {
  background-color: #ccff66;
  color: #000;
  border-radius: 4em;
  border-color: #ccff66;
  width: auto;
}

.suggestions{
  color: #fff;
  padding: 0;
}

button[class="border"]{
  background-color: #fff;
  font-weight: bold;
  color: #999;
  border-radius: 2em;
  border-color: #999;
  border-style: solid;
  height: 2em;
  float: right;
  width: 4.5em;
}
a{
  color:#000;
  font-weight: 170;
  font-size: 1.1em;
}
a:hover{
  color: #999;
}
.table{
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

.column::-webkit-scrollbar { width: 0 !important }

.column {
  -ms-overflow-style: none;
}
.column { overflow: -moz-scrollbars-none; }
