
<h3 style="padding-left:1em;">Index</h3>
<ul class="_side_navbar">
    <li><a href="{{ url_for('main.index') }}"><p>Explore</p></a></li>
    <li><a href="{{ url_for('pages.pages') }}"><p>Challenges</p></a></li>
    <li><a href="{{ url_for('todo.tasks') }}"><p>This week</p></a></li>
    <li><a href="{{ url_for('main.search') }}"><p>Search</p></a></li>
    <br>
    <br>
    <br>
    {% if current_user.is_anonymous %}
    <li><a href="{{ url_for('auth.login') }}"><p>Login</p></a></li>
    {% else %}
    <li><a href="{{ url_for('main.user', username=current_user.username) }}"><p>Profile</p></a></li>
    <li><a href="{{ url_for('auth.logout') }}"><p>Logout</p></a></li>
    {% endif %}
</ul>
