{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }}{% else %}Week Peek{% endif %}
{% endblock %}

{% block content %}
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="UTF-8">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
      </head>

      <div class="header" style="display:flex; flex-direction: row; align-items: center; align: center">
        <h3 style="align:center; color: #000; margin:0.5em;">Week Peek</h3>

      </div>
      <body>
<div class="row">
        <div class="column left">
          <div class="section">
            {% include '/includes/_side_navbar.html' %}
            </div>
        </div>
      <div class="column middle">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
              <div class="alert alert-info" role="alert">{{ message }}</div>
              {% endfor %}
          {% endif %}
          {% endwith %}

          {# application content needs to be provided in the app_content block #}

          {% block app_content %}{% endblock %}

      </div>
      <div class="column right">
        {% include 'suggested_challenges.html' %}
        {% include 'pages/_your_challenges_streak.html' %}
        {% block right_content %}{% endblock %}
      </div>`


    </div>
    </body>
    <div class="footer" style="margin-bottom:1em;">
      Developed by Vineet Kothari. 2020.
    </div>

{% endblock %}

{% block scripts %}
	{{ super() }}
	{{ moment.include_moment() }}
{% endblock %}
