{% extends "base.html" %}

{% block content %}
	<p>Today: {{ today }}, {{ weekday }}</p>
	<h1>Tasks this week...</h1>
	<h3>{{ days_left }} days left</h3>
		<form action="" method="post">
		{{ form.hidden_tag() }}
		<p>
		    {{ form.task.label }}<br>
		    {{ form.task(cols=32, rows=4) }}<br>
		    {% for error in form.task.errors %}
		    <span style="color: red;">[{{ error }}]</span>
		    {% endfor %}
		</p>
		<p>{{ form.submit() }}</p>
		</form>
	{% for task in tasks %}
		<div>{% include '_task_display.html' %}</div>
	{% endfor %}
{% endblock %}
