{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="section" style="margin-top:0;">
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
     <div class="row">
            {{ wtf.quick_form(form) }}
    </div>
    </div>
    {% endif %}
    <div class ="section">
      <h3>Your feed</h3>
      {% for post in posts %}
  	     {% include '_post.html' %}
      {% endfor %}
      {% if prev_url %}
      <a href="{{ prev_url }}">Newer posts</a>
      {% endif %}
      {% if next_url %}
      <a href="{{ next_url }}">Older posts</a>
      {% endif %}
    </div>
{% endblock %}
