{% extends "base.html" %}

{% block app_content %}
<div class="section" style="height:100%;">
    <h1>Search</h1>
    {% if g.search_form %}
            <form  method="get" action="{{ url_for('main.search') }}">
                <div class="form-group" style="width: 20em; align: center;" >
                    {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
                </div>
            </form>
    {% endif %}
    {% if challenges %}
      <h3>Challenges</h3>
      {% for challenge in challenges %}
          {% include 'pages/_challenge_display.html' %}
      {% endfor %}

      {% if prev_pages_url %}
        <a href="{{ prev_pages_url }}">Previous</a>
      {% endif %}
      {% if next_pages_url %}
        <a href="{{ next_pages_url }}">Next</a>
      {% endif %}
    {% endif %}

    {% if posts %}
      <h3>Posts</h3>
      {% for post in posts %}
          {% include '_post.html' %}
      {% endfor %}

      {% if prev_posts_url %}
        <a href="{{ prev_posts_url }}">Previous</a>
      {% endif %}
      {% if next_posts_url %}
        <a href="{{ next_posts_url }}">Next</a>
      {% endif %}
    {% endif %}


    {% if users %}
      <h3>Users</h3>
      {% for user in users %}
          {% include 'includes/_user_display_small.html' %}
      {% endfor %}

      {% if prev_users_url %}
        <a href="{{ prev_users_url }}">Previous</a>
      {% endif %}
      {% if next_users_url %}
        <a href="{{ next_users_url }}">Next</a>
      {% endif %}
    {% endif %}




</div>
{% endblock %}
