
<div class="section" style="margin-top:0;">
<h3>Suggested challenges</h3>
<ul class="suggestions">
    <li>
      <a href="{{ url_for('pages.challenge', pagename="100DaysofCode") }}"><p><b>#100DaysofCode</b></p></a>
      <a href="{{ url_for('pages.follow_page', pagename="100DaysofCode") }}"><p>Follow</p></a>
    </li>
    <li>
      <a href="{{ url_for('pages.challenge', pagename="12BooksAYear") }}"><p><b>#12BooksAYear</b></p></a>
      <a href="{{ url_for('pages.follow_page', pagename="12BooksAYear") }}"><p>Follow</p></a>
    </li>
    <li>
      <a href="{{ url_for('pages.challenge', pagename="ReadEveryday") }}"><p><b>#ReadEveryday</b></p></a>
      <a href="{{ url_for('pages.follow_page', pagename="ReadEveryday") }}"><p>Follow</p></a>
    </li>
    <li>
      <a href="{{ url_for('pages.challenge', pagename="60DaysofFiness") }}"><p><b>#60DaysofFitness</b></p></a>
      <a href="{{ url_for('pages.follow_page', pagename="60DaysofFitness") }}"><p>Follow</p></a>
    </li>
</ul>
<a href="" style="float:right;">Show more</a>
<br>
</div>
