{% extends 'base.html' %}

{% block content %}
	<h1>{{ task.name }}</h1>
	<form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.subtask.label }}<br>
            {{ form.subtask(cols=32, rows=4) }}<br>
            {% for error in form.subtask.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
	{% for subtask in subtasks %}
		<div><p>{{ subtask.name }}</p></div>
	{% endfor %}
{% endblock %}
