{% extends 'base.html' %}

{% block content %}
	<h1>{{ task.name }}</h1>
	<h1>{{ task.completion_percent() }}</h1>
	<form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.subtask.label }}<br>
            {{ form.subtask(cols=32, rows=4) }}<br>
            {% for error in form.subtask.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <form method="POST" action="">
	    {% for subtask in c_subtasks %}
            <p>
                <input type="checkbox" name="status_checkbox" value="{{ subtask.id }}" checked>{{ subtask.name }}, {{ subtask.status }}
            </p>
	    {% endfor %}
	    {% for subtask in uc_subtasks %}
            <p>
                <input type="checkbox" name="status_checkbox" value="{{ subtask.id }}">{{ subtask.name }}
            </p>
	    {% endfor %}
	    
	<input type="submit" name="Submit">
     </form>
{% endblock %}
